@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar-header {
  height: 10%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: white;
  transition: all 0.6s ease;
  display: block; padding: 2%;
  border-bottom: 1px solid #f2f2f2;
  
}
.navbar-header a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  transition: transform .2s;
}

.navbar-header a:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.1);
}


.btn-about{
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 15px 35px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  transition: transform .2s;
}

.btn-about:hover{
  background-color: grey;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  border: none;
}

.btn-portfolio{
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 15px 35px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  transition: transform .2s;
  margin-left: 15px;
}

.btn-portfolio a{
  text-decoration: none;
  color: white;

}



.btn-portfolio:hover{
  background-color: grey;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
  border: none;
}
.btn-portfolio:hover a{
  background-color: grey;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: none;
}

.headshot{
  width: 50%;
  border-radius: 50%;
  filter: brightness(50%);
  transition: transform .2s;
}
.headshot:hover{
  filter: brightness(100%);
  transform: scale(1.1);
 
}

.aboutme{
  margin-bottom: 50px;
}

.profile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 150px;
  height: 500px;
  margin-top: 110px;
  
}
.icons-list{
  padding-right: 200px;
}
.icons{
  width: 100px;
  margin-left: 70px;
}
.bio {
  text-align: center;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 10px;
  padding: 5%;

}
.divider{
  width: 50%;
  border-bottom: solid 1px  #f2f2f2;
  margin: 0 auto;
  margin-bottom: 100px;
}

.logo{
  width: 200x;
  float: left;
  font-family: 'Krona One', sans-serif;
  font-weight: 800;
  padding-left: 100px;

}


.in-touch{
  background: #001c2e;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  
  align-items: center;
}
.in-touch input{
  width: 300px;
  height: 30px;
  background: white;
  border-radius: 20px;
  padding-left: 8px;
  margin-bottom: 30px;
  margin-left: 8px;
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.in-touch input:focus, textarea:focus{
  outline: none;
  transition: transform .2s;
}
.in-touch input:hover, textarea:hover{
  outline: none;
  transition: transform .2s;
  transform: scale(1.1);
}
  

.in-touch textarea{
  width: 300px;
  border-radius: 20px;
  padding: 15px 0 0 15px;
  border: 1px solid transparent;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.in-touch button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    transition: transform .2s;
}

.in-touch button:hover{
    background-color: white;
    color: #001c2e;
    cursor: pointer;
    transform: scale(1.1);
}

.footer-d{
  background: black;
  color: white;
  height: 10%;
  padding: 20px;
  
}

.about-main{
  padding-top: 200px;
  }
  .education{
    margin-top: 5%;
    margin-bottom: 20%;
  }
  .skill-img{
    width: 50%;
    /* margin-left: 200px; */
  }
  .skills{
    padding-right: 150px;
    margin-bottom: 50px;
  }
  .career{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }

/* .sidebar{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 100%;
    position: fixed;
    z-index: 1;
    margin-right: 10px;
} */

.pro-img{
  width:90%;
  margin-bottom: 5%;
}

.project-bio{
  padding: 14%;
}

.mo-img{
  width:30%;
  margin-left: 2%;
}


.in-img{
  width:80%;
  margin-left: 2%;
  border-radius: 8px;
}

.mgn{
  margin: 20px 0 20px 0;
}
.movies p{
  margin-bottom: 10%;
}

.resume-main{
  padding-top: 10%;
  height: 100%;
  
}

.aboutme h1{
  margin-bottom: 10%;
}

.about-main .col-md-6{
  margin-bottom: 1%;
}
.home-main .col-md-6{
  margin-bottom: 15%;
}

.home-main{
  padding-top: 220px;
  }


.about-main .col-md-2{
  padding-right: 10%;
}
.space{
margin-bottom: 10%;
}

.mgbtm{
  margin-bottom: 5%;
}

.education a{
  color: grey;
  text-decoration: none;
}
.education a:hover{
  color: black;
  text-decoration: none;
}

ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
  padding-left: 15%;
}
li{
  list-style-type: none;
}